@import "tailwindcss";

.custom-scrollbar::-webkit-scrollbar{
    width: 5px;
}

/* .custom-scrollbar::-webkit-scrollbar-track{
    background: red;
} */

.custom-scrollbar::-webkit-scrollbar-thumb{
    background-color: #393939;
    border-radius: 1000px;
}

body {
    overflow-x: hidden;
  }